<h3><a href = "/shelters/new">New Shelter</a>
<br>
<br>
<% @shelters.each do |shelter| %>
  <a href = '/shelters/<%=shelter[:id]%>'>View <%= shelter.name%></a><br>
  <a href = '/shelters/<%=shelter[:id]%>/edit'>Edit <%= shelter.name%></a><br>
<% end %>